* {
    margin: 0;
    padding:0;
}
body{
    background-color: #548687;
    text-align: center;
}
 .container {
    height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;

 }
 .game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
  

 }
 .box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 10vmin;
    background-color: #ffffc7;
    color: black;

 }
 #reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: rgb(137, 43, 226);
    color: white;
    border-radius: 1rem;
    border: none;
 }
 #new-btn{
   padding: 1rem;
   font-size: 1.5rem;
   background-color: rgb(137, 43, 226);
   color: white;
   border-radius: 1rem;
   border: none;
 }
 #msg{
   color: white;
   font-size: 2rem;
   margin:2%;
 }
 .msg-container{
   margin: 2%;
 }
 .hide{
   display: none;
 }